[Unit]
Description=Run Heptad Relayer Release Aggregator periodically

[Timer]
OnBootSec=25s
OnUnitActiveSec=10s
AccuracySec=1s
Persistent=true
Unit=heptad-relayer-aggregate-release.service

[Install]
WantedBy=timers.target
