[Unit]
Description=Run Heptad Relayer Mint Aggregator periodically

[Timer]
OnBootSec=20s
OnUnitActiveSec=10s
AccuracySec=1s
Persistent=true
Unit=heptad-relayer-aggregate-mint.service

[Install]
WantedBy=timers.target
